body {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	background-image: url('https://www.si.com/.image/t_share/MTc4OTc4MDY3MzY3MDc3Mzgz/nba-all-star-game-court.jpg');
	background-size: cover;
	background-position: center;
	height: 100vh;
}

.main-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 575px;
	height: 386px;
	background: #1b244a;

	border: 8px ridge rgb(60, 91, 136);
	border-radius: 2%;

	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.sub-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 288px;
	height: 386px;
}

.board-title {
	width: 155px;
	height: 36px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 36px;
	text-align: center;
	color: silver;
}

.pts-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 155px;
	height: 120px;
	background-color: black;
	border-radius: 5px;
}

.score {
	font-family: 'Orbitron', sans-serif;
	font-style: normal;
	font-size: 60px;
	font-weight: 400;
	color: rgb(115, 186, 74);
}

.btn-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 155px;
	height: 45px;
	padding: 25px 0;
}

.btn {
	width: 45px;
	height: 45px;
	font-family: 'Kameron', serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 28px;
	text-align: center;
	background-color: rgb(64, 40, 87);
	color: silver;
	border: 2px solid rgb(22, 23, 26);
	border-radius: 5px;
}

#reset-btn {
	position: absolute;
	bottom: 0;
	margin-bottom: 20px;
	padding: 1px 10px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 28px;
	text-align: center;
	background-color: rgb(64, 40, 87);
	color: silver;
	border: 2px solid rgb(22, 23, 26);
	border-radius: 5px;
	width: 80px;
	height: 45px;
}
